img {
    width: 300px;
    height: 200px;
    margin-top: 10px;
    border-radius: 20px;
}

.div-image{
    text-align: center;
    border-style: solid;
    border-color: black;
    width: 320px;
    height: 370px;
    background-color: #f8edeb;
    border-radius: 20px;
    margin-bottom: 15px;
}

.mainDivImg{
   text-align: center;
}